@model GymCollab.Models.GymClass
<h2 class="h4 mb-3">Edit Class</h2>
<form method="post" class="card card-body">
  <input type="hidden" asp-for="GymClassId" />
  <partial name="_Form" model="Model" />
</form>
